:root {
    --arrow-thickness: 1.5px;
    --arrow-head-size: 7px;
    --flowchart-spacing: 10px;
    --label-size: 0.8em;
    --bg-color: white;
    --fg-color: black;
}
.arrow.thick {
    --arrow-thickness: 4px;
    --arrow-head-size: 10px;
}
.arrow::after {
    width: calc(1.4142 * var(--arrow-head-size));
    height: calc(1.4142 * var(--arrow-head-size));
    content: "";
    padding: 0;
    margin: calc(0.2071 * var(--arrow-head-size));
    border: solid var(--fg-color);
    border-width: 0 var(--arrow-thickness) var(--arrow-thickness) 0;
    display: inline-block;
    transform: rotate(-45deg);
    position: absolute;
    right: 0;
    top: var(--arrow-thickness);
    z-index: -1;
}
.arrow::before {
    content: "";
    border-bottom: var(--fg-color) solid var(--arrow-thickness);
    height: 0;
    width: calc(100% - var(--arrow-thickness));
    display: inline-block;
    position: absolute;
    left: 0;
    top: calc(50% - var(--arrow-thickness)/2);
    z-index: -1;
}
.arrow {
    display: inline-block;
    line-height: 1.2;
    padding: 0 var(--arrow-head-size);
    flex: 1 1 0px;
    font-size: var(--label-size);
    position: relative;
    height: calc(
        var(--arrow-thickness)
        + 2 * var(--arrow-head-size)
    );
    text-decoration: underline var(--bg-color) 1rem;
    text-decoration-skip-ink: none;
    text-underline-position: under;
    text-underline-offset: -1rem;
}

.arrow.fullwidth {
    flex-basis: 100%;
    height: calc(
        var(--arrow-thickness)
        + 4 * var(--arrow-head-size)
    );
    margin: 0 var(--flowchart-spacing);
    line-height: 1.8;
}
.arrow.fullwidth::after {
    transform: rotate(45deg);
    background-image: linear-gradient(
        45deg,
        transparent calc(50% - var(--arrow-thickness)/2),
        var(--fg-color) calc(50% - var(--arrow-thickness)/2),
        var(--fg-color) calc(50% + var(--arrow-thickness)/2),
        transparent calc(50% + var(--arrow-thickness)/2)
    );
    margin: calc(0.2071 * var(--arrow-head-size));
    left: var(--arrow-thickness);
    top: calc(2 * var(--arrow-head-size));
}
.arrow.fullwidth::before {
    border-right: var(--fg-color) solid var(--arrow-thickness);
    width: calc(100% - 2 * var(--arrow-head-size) - 2 * var(--flowchart-spacing));
    height: calc(2 * var(--arrow-head-size));
    top:0;
    left: var(--arrow-head-size);
}

.arrow.fullwidth.loopback {
    height: calc(
        var(--arrow-thickness)
        + 2 * var(--arrow-head-size)
    );
}
.arrow.fullwidth.loopback::after {
    transform: rotate(-135deg);
    position:absolute;
    left: var(--arrow-thickness);
    top: 0;
    z-index: -1;
}

.flowchart {
    display: flex;
    align-items: center;
    text-align: center;
    gap: var(--flowchart-spacing);
    padding: var(--flowchart-spacing) 0;
    flex-wrap: wrap;
    max-width: 100%;
    container-type: inline-size;
    container-name: flowchart;
}
.flowchart em {
    font-style: normal;
    font-weight: bold;
}
.flowchart.topdown {
    flex-direction: column;
}

.flowchart > *:not(.arrow) {
    border-radius: 12px;
    padding: 12px;
    align-self: stretch;
    border: solid 1px var(--fg-color);
    z-index: -1;
    color: var(--fg-color);
}

.flowchart .module {
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    gap: var(--flowchart-spacing);
    border: none;
    flex-wrap: wrap;
    background: var(--bg-color);
}
.flowchart .module[label] {
    padding-top: calc(var(--label-size) + var(--flowchart-spacing));
}
.flowchart .module::before {
    content: attr(label);
    font-size: var(--label-size);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
}

.flowchart .module.blue {
    --fg-color: white;
    --bg-color: #2f9ed2;
}
.flowchart .module.orange {
    --fg-color: white;
    --bg-color: #f03a21;
}

.flowchart > div:not(.arrow):not(.module) > *:first-child {
    margin: 0 auto var(--flowchart-spacing) auto;
    text-align: left;
    max-width: fit-content;
}

@container flowchart (max-width: 550px) {
    .flowchart > * {
        flex-basis: 100%;
    }
    .arrow, .arrow.fullwidth {
        height: unset;
        width: unset;
        margin: 0 auto;
        line-height: 1.8;
        padding: calc(2 * var(--arrow-head-size)) 0
    }
    .arrow::after, .arrow.fullwidth::after {
        transform: rotate(45deg);
        background: none;
        top: calc(100% - 2*var(--arrow-head-size) + var(--arrow-thickness));
        left: calc(50% - var(--arrow-head-size));
    }
    .arrow::before, .arrow.fullwidth::before {
        border: none;
        width: var(--arrow-thickness);
        background-color: var(--fg-color);
        height: 100%;
        top: 0;
        left: calc(50% - var(--arrow-thickness)/2);
    }

    .arrow.fullwidth.loopback {
        position: absolute;
        right: var(--flowchart-spacing);
        top: calc(var(--flowchart-spacing) + var(--label-size));
        height: calc(100% - 2*var(--flowchart-spacing) - var(--label-size) - 2*var(--arrow-head-size));
        margin: 0;
        padding: var(--arrow-head-size) 0;
        max-width: 10%;
        line-height: 1.2;
        text-decoration-thickness: 1.2rem;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .arrow.fullwidth.loopback::before {
        background: none;
        border: var(--fg-color) solid var(--arrow-thickness);
        border-left: none;
        height: calc(100% - 2*var(--arrow-head-size));
        width: calc(2*var(--arrow-head-size));
        left: -50%;
        top: var(--arrow-head-size);
    }

    .arrow.fullwidth.loopback::after {
        right: calc(100% - var(--arrow-head-size)/2);
        top: calc(var(--arrow-thickness)/2);
        transform: rotate(135deg)
    }

    .flowchart .module {
        flex-wrap: nowrap;
        flex-direction: column;
        position: relative;
    }

}